.starter-template{
	margin-top: 72px;
}
.cat-list {

    padding-bottom: 22px;
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    display: block;
}
.ticai{
	    margin-right: 6px;
	        display: block;
    float: left;
	    
}
 .clearfix:after {  content: ""; display: block; height: 0; clear: both; visibility: hidden;  }   

 .clearfix {*zoom: 1;}  	
.fenlei {
    position: relative;
    display: inline-block;
    color: #252525;
    padding: 0 6px;
        float: left;
margin-bottom: 23px;
    margin-left: 8px;
        text-decoration: none;
        	cursor: pointer;
            font-family: "PingFang SC",'Microsoft YaHei';
}
.fenleiact{
	color: #fd113a!important;
}
.fenleiact:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fd113a;
}
.hottitle {
	border-left: 2px solid red;
	display: block;
	position: relative;
	height: 26px;
	padding: 0 10px;
	overflow: hidden;
	margin: 30px 0;
}

.hottxt {
	height: 2rem;
	font-size: 2rem;
	font-weight: 600;
	width: 150px;
	height: 40px;
	display: block;
	float: left;
}
.img-responsive {
	width: 100%;
	background-size: cover;
}

.rit {
	width: 40px;
	height: 25px;
	position: absolute;
	top: 9px;
	right: 0px;
	cursor:pointer
}

.navbar-right {
	line-height: 2rem;
	height: 2rem;
	float: right;
	width: 20%;
	display: block;
}



.nub-box {
	width: 5%;
	height: 3%;
	margin: 5% 0 0 2%;
	line-height: 22px;
	text-align: center;
	display: inline;
	border-radius: 50%;
	float: left;
}
.manhuatit {
	line-height: 2.8rem;
	height: 2.8rem;
	font-size: 1.6rem;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.manhuabar {
	line-height: 1.2rem;
	height: 1.2rem;
	font-size: 1.2rem;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.img-box {
	width: 100%;
	height: 0;
	padding-bottom: 130%;
	overflow: hidden;
}
.padtop {
	padding: 10px;
}
.btmbox{
	    width: 326px;
    height: 40px;
    margin: 20px auto;
    text-align: center;
}
.btm {

    width: 96px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background: #ff5e06;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 38px;
    display: inline-block;
}
#page_select {
    width: 96px;
    height: 38px;
    text-align: center;
    float: left;
    margin: 0 15px;
}
.fl{
		float: left;
}
.fr{
	float: right;
}
.bantxt {
	width: 100%;
	height: 50px;
	opacity: 1;
	background-color: #eceff1;
	border-radius: 5px;
	border: 0px;
	padding-left: 40px;
	color: #000;
	border-style:none;/*  此步是必须的  */
}
.banseo{

	width: 50vw;
	height: 34px;
	left: 0;
	right: 0;
	top: 70px;
	margin: auto;
	position: relative;
	
}
.banbutt {
height: 50px;
width: 15vw;
background-color: #ec4d1c!important;
border: 0px;
color: #fff;
border-radius: 4px;
border-top-left-radius: 0px!important;
border-bottom-left-radius: 0px!important;
transition: all .7s ease 0s;
font-size: 15px;
background: -webkit-linear-gradient(top,#f4511e 0,#d84315 100%)!important;
background: linear-gradient(to bottom,#f4511e 0,#d84315 100%)!important;
position: absolute!important;
right: 0px;
top: 0;
background-color: transparent;
border-width: 0px;
outline: none;

}
.banbutt:hover {
background-color: #ed3800!important;
background: -webkit-linear-gradient(top,#f03900 0,#bb2c00 100%)!important;
background: linear-gradient(to bottom,#f03900 0,#bb2c00 100%)!important;
color:#fff;
}
.banbutt:active {
box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -5px;
}
input:focus {
outline:none!important;
}
input::-webkit-input-placeholder{
		color:#B7B7B7; 
	 }
	 input:-moz-placeholder{
		color:#B7B7B7;
	 }
.btn {
display: inline-block;
padding: 6px 0;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.searchimgbox{
width: 24px;
height: 24px;
background-size: cover;
position: absolute;
top: 13px;
left: 8px;
}
.mtop{
	margin-top: 120px;
}